.navlink{
  color: black;
  text-decoration: none;
}

.searchInput{
  border: 2px solid red !important;
  border-radius: 30px;
  padding: 5px 20px ;
  margin-right: 20px;
}

.input{
  border: none;
  outline: none;
}

.Icon{
  font-size: 25px;
}
.right{
  display: flex;
  align-items: center;
}