.productPragraph,
.productHeading {
  text-align: center;
}

.product_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
}

.p_card {
  position: relative;
  width: 280px;
  height: 300px;
  padding: 15px;
  /* background-color: red; */
  border-radius: 10px;
  border: 2px solid #ccc;
  transition: all 0.6s ease;


  .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    width: 100%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      /* Ensures the image doesn't exceed its container's width */
      /* height: auto; */
      max-height: 80%;
    }
  }


  h4 {
    font-size: 14px;
    padding-top: 10px;
    margin: 0
  }

  h3 {
    font-size: 16px;
    margin: 5px 0;
  }

  .cartBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 15px;
    color: white;
    background-color: #f42c37;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    display: none;
    transition: all 0.3s ease;
  }
}

.p_card:hover {
  border-top-width:2px ;
  border-left-width:2px ;
  border-right-width:2px ;
  border-bottom-width:10px ;
  border-color: #f42c37;
  img {
    filter: blur(5px);
  }

  button {
    display: block;
  }
}

& button:hover {
  cursor: pointer;
  /* background-color: #bd9799; */
  padding: 10px 18px;
}

.BTN {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
  transform: translate(-70%, 0);
  padding: 8px 15px;
  color: white;
  background-color: #f42c37;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease;
}