.bologPage {
  padding: 0px 50px;
}

.blogHeading {
  padding: 50px;
  color: black;
  height: 250px;
  background: linear-gradient(to right, #cccccca8, #cccccc9f, #cccccc5d);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.bologList {

  .bolog1 {
    display: flex;
    gap: 30px;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    img {
      max-width: 250px;
      min-width: 250px;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    button{
      padding: 5px 20px;
      background-color: #f42c37;
      color: white;
      border: none;
      border-radius: 25px;
      font-size: 18px;
    }
  }
}